/* #region Debug */
.debug #site_main {
    border: 2px solid red;
}    

.debug .nav_bar {
    border: 2px solid green;
}

.debug .logo {
    border: 1px dotted white;
}

.debug .nav_btn {
    border: 1px dotted white;
}

.debug .playlist {
    border: 1px dotted red;
}

.debug .banner_upgrade {
    border: 2px dashed grey;
}

.debug .subscription {
    border: 1px yellow dotted;
    min-height: 20px;
}

.debug .album_container {
    border: 2px solid white;
}

.debug .album_nav {
    border: 2px dashed blue;
}

.debug .top_bar {
    border: 1px dashed yellow;
}

.debug .bottom_bar {
    border: 1px dashed yellow;
}

.debug [class^="col-"] {
    border: 1px solid pink;
    min-height: 3rem;
}

.debug #toolbar {
    border: 1px solid blue;
}

.debug .toolbar_left {
    border: 1px dotted white;
}

.debug .toolbar_center {
    border: 1px dotted greenyellow;
}

.debug .toolbar_right {
    border: 1px dotted white;
}
/* #endregion Debug */

/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --spotify-primary: #141922;
    --spotify-header: #00000080;
    --spotify-black: #000000;
    --spotify-white: #ffffff;
    --spotify-grey-word: #727272;
    --spotify-grey-icon: #a3a3a3;
    --spotify-grey-toolbar: #282828;
    --spotify-success: #b8fb31;
    --spotify-scrollbar: #c8c8c8;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

a:hover,
i:hover {
    filter: brightness(100);
    color: var(--spotify-white);
}
/* #endregion Common */

/* #region Utility */

/* LAYOUT */
.container {
	margin: auto;
	width: 95%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem
}

[class^="col-"] {
	padding: 0 0.5rem;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-12 {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.album_card {
    aspect-ratio: 1 / 1;
    position: relative;
}

/* FLEX */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.fw-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* PADDING */
.p-4 {
    padding: 1rem;
}

.p-x-4 {
    padding: 0 1rem;
}

.p-x-7 {
    padding: 0 1.75rem;
}

.p-y-4 {
    padding: 1rem 0;
}

.p-top-2 {
    padding-top: 0.5rem;
}

.p-top-4 {
    padding-top: 1rem;
}

.p-top-6 {
    padding-top: 1.5rem;
}

.p-bottom-4 {
    padding-bottom: 1.25rem;
}

.p-bottom-5 {
    padding-bottom: 1.25rem;
}

.p-left-4 {
    padding-left: 1rem;
}

.p-right-4 {
    padding-right: 1rem;
}

.p-right-7 {
    padding-right: 1.75rem;
}

/* OTHER UTILITY */
.text-center {
    text-align: center;
}

.p-relative {
    position: relative;
}

.radius-100 {
    border-radius: 100%;
}
/* #endregion Utility */

/* #region Css Animation */
@keyframes heart-beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes abbonati {
    0%{
        border: 1px dashed var(--spotify-success);

    }
    
    100%{
        border: 2px dotted var(--spotify-success);

    }
}
/* #endregion Animation */

/* #region scrollbar */
::-webkit-scrollbar {
    width: 1.25rem;
}
  
::-webkit-scrollbar-track {
    background: var(--spotify-white); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--spotify-scrollbar);
    border: 0.25rem solid var(--spotify-white);
    border-radius: 0.75rem;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--spotify-black);
}
/* #endregion scrollbar */

/* #region Main */
#site_main {
    height: calc(100vh - 5.5rem);
}

.nav_bar {
    min-width: 14rem;
    background-color: var(--spotify-black);
    & .logo {
        width: 9rem;
        padding: 1.25rem 0 1rem 1rem;
    }
    & .logo:hover {
        animation: heart-beat 2s linear infinite;
    }
    & a {
        color: var(--spotify-grey-word);
    }
    & i {
        color: var(--spotify-grey-word);
    }
    & .nav_btn svg {
        padding: 0.25rem 0.5rem 0.25rem 1rem;
        width: 3rem;
    }
    & .nav_btn a {
        font-weight: 600;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
    }
    & h4 {
        color: var(--spotify-white);
        font-weight: 600;
        font-size: 0.85rem;
    }
    & .home_icon span {
        color: var(--spotify-white);
    }
    & .selected {
        position: absolute;
        border: 2px solid var(--spotify-success);
        height: 100%;
        left: 0;
        top: 0;
    }
    & .playlist i {
        font-size: 2.25rem;
        color: var(--spotify-grey-icon);
    }
    & .playlist span {
        color: var(--spotify-grey-word);
        padding-left: 0.5rem;
        font-weight: 600;
        font-size: 1rem;    
    }
    & .playlist .create_playlist:hover,
      .install_app:hover {
        cursor: pointer;
        filter: brightness(100);
    }
    & .playlist li {
        padding: 0.5rem 0;
    }
    & .playlist a {
        font-weight: 500;
        font-size: 0.75rem;
    }
    & .user_icon {
        width: 1.8rem;
        aspect-ratio: 1 / 1;
        background-color: var(--spotify-grey-word);
        border-radius: 50%;
        text-align: center;
    }
    & .user_icon svg {
        width: 1.8rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    & .install_app a {
        font-size: 0.75rem;
        font-weight: 500;
    }
    & .install_app_icon svg {
        width: 1rem;
        aspect-ratio: 1 / 1;
        display: flex;
    }
    & .install_app:hover {
        transform: scale(1.2);
        padding-left: 0.5rem;
        filter: brightness(100);
    }
    & .hr_bottom_bar {
        border: 1px solid var(--spotify-grey-word);
    }
    & .now_playing i {
        font-size: 2rem;
        padding-right: 0.5rem;
        color: var(--spotify-grey-icon);
        filter: brightness(100);
    }
}

.banner_upgrade {
    background-color: var(--spotify-header);
    height: 5.5rem;
    width: calc(100% - 14rem);
    position: fixed;
    z-index: 1;
    & .btn {
        color: var(--spotify-white);
        padding: 1rem 2.5rem;
        font-size: 0.75rem;
        font-weight: 600;
        border: 1px solid var(--spotify-white);
        border-radius: 3rem;
    }
    & .btn:hover {
        transform: scale(1.1);
        animation: abbonati 0.3s linear infinite;
    }
}

.album_container {
    overflow: auto;
    background-color: var(--spotify-primary);
}

.discography {
    padding-top: 5.5rem;
}

.album_nav {
    & a {
        color: var(--spotify-grey-word);
        padding: 0 0.5rem;
        font-size: 0.75rem;
        font-weight: 700;
    }
    
    & li {
        padding: 1rem 0;
    }
    
    & .center_underline {
        width: 30%;
        margin: auto;
        justify-content: center;
        border: 1px solid var(--spotify-success);
        background-color: var(--spotify-success);
        border-radius: 2px;
        margin-top: 2px;
        padding-top: 1px;
    }
}


.album_list {
    & .album_card {
        padding-top: 1rem;
    }
    & .play_album {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        display: none;
    }
    & .album_card:hover img {
        filter: opacity(0.5);
    }
    & .album_card:hover .play_album {
        display: block;
    }
    & h2 {
        font-size: 1.4rem;
        font-weight: 800;
        color: var(--spotify-white);
    }
    & h3 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--spotify-white);
        padding: 0.5rem 0;
    }
    & h4 {
        font-size: 1rem;
        font-weight: 800;
        color: var(--spotify-grey-word);
    }
    & p {
        font-size: 0.7rem;
        font-weight: 800;
        color: var(--spotify-grey-word);
        padding: 0.5rem 0;
    }
}
/* #endregion Main */

/* #region Footer */
#toolbar {
    height: 5.5rem;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: var(--spotify-grey-toolbar);
    & i:hover {
        transform: scale(1.2);
        filter: brightness(100);
    }
    & .toolbar_right,
      .toolbar_left {
        flex-grow: 1;
    }
    & .toolbar_center {
        flex-grow: 2;
    }
    & .album_card {
        width: 2.5rem;
        aspect-ratio: 1 / 1;
    }
    & .album_card img:hover {
        transform: scale(1.3);
    }
    & h5 {
        color: var(--spotify-white);
        font-size: 0.75rem;
        font-weight: 700;
    }
    & h6 {
        color: var(--spotify-grey-word);
        font-size: 0.6rem;
        font-weight: 600;
    }
    & .title_song h6:hover {
        text-decoration: underline;
        filter: brightness(100);
        cursor: pointer;
    }
    & .toolbar_left i {
        color: var(--spotify-grey-word);
        font-size: 1rem;
    }
    & .icon_left span i:hover {
        color: red;
        filter: none;
        animation: heart-beat 1s linear infinite;
    }
    & .toolbar_center i {
        color: var(--spotify-white);
        font-size: 1rem;
        padding: 0 1rem;
    }
    & .icon_play i {
        font-size: 1.5rem;
    }
    & .advancement {
        width: 60%;
        height: 0.3rem;
        border-radius: 2rem;
        background-color: var(--spotify-grey-word);
    }
    & .reproduced {
        width: 15%;
        height: 100%;
        background-color: var(--spotify-grey-icon);
        position: relative;
        border-radius: 2rem;
    }
    & .circle_advancement {
        width: 0.85rem;
        aspect-ratio: 1 / 1;
        background-color: var(--spotify-white);
        position: absolute;
        right: -0.3rem;
        bottom: -0.3rem;
        border-radius: 100%;
        display: none;
    }
    & .reproduced:hover {
        background-color: var(--spotify-success);
        cursor: pointer;
    }
    & .reproduced:hover .circle_advancement {
        display: block;
    }
    & .center_bottom h6 {
        color: var(--spotify-white);
    }
    & .toolbar_right i {
        font-size: 0.75rem;
        padding: 0 0.5rem;
        color: var(--spotify-white);
    }
    & .volume_control {
        width: 40%;
    }
    & .volume_level {
        height: 0.3rem;
        border-radius: 2rem;
        background-color: var(--spotify-grey-word);
    }
    & .volume_control .reproduced {
        width: 40%;
    }
}
/* #endregion Footer */

/* #region Media Query */
/* MAX-WIDTH */
@media screen and (max-width: 1200px) {
    .col-3-md {
        width: calc((100% / 12) * 3);
    }

    .album_list {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 1.15rem;
    }
    
    .col-6-s {
        width: calc((100% / 12) * 6);
    }

    [class^="col-"] {
        padding: 0 0.75rem;
    }

    .album_list .col-12 {
        padding-top: 1rem;
    }

    .icon_left {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.3rem;
    }

    .title_song {
        padding: 0 0.5rem;
    }
    
    .volume_control {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    ::-webkit-scrollbar-track {
        background: var(--spotify-black); 
    }

    ::-webkit-scrollbar {
        width: 0.9rem;
    }

    .nav_bar {
        display: none;
    }

    .nav_bar_xs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 3rem;
        background-color: var(--spotify-black);
        padding: 0.5rem;
    }
    
    .download_icon_xs {
        width: 1.5rem;
    }

    .user_icon_xs svg {
        width: 1.4rem;
        aspect-ratio: 1 / 1;
    }

    .user_icon_xs {
        width: 1.7rem;
        border-radius: 100%;
        background-color: var(--spotify-grey-word);
        text-align: center;
    }

    .banner_upgrade {
        width: calc(100% - 3rem);
    }

    .subscription .btn {
        font-size: 0.6rem;
        font-weight: 600;
        border: 1px solid var(--spotify-white);
        padding: 0.75rem 2rem;
    }

    .album_list h3,
    .album_list h4 {
        font-size: 0.75rem;
    }

    #toolbar {
        padding: 0.5rem;
    }

    #toolbar .icon_left i {
        padding: 0;
    }

    #toolbar .center_top i {
        padding: 0.5rem;
    }

    #toolbar .center_bottom h6 {
        display: none;
    }

    #toolbar .toolbar_right i {
        padding: 0.25rem;
    }
}

/* media query dedita al responsive su Galaxy Fold */
@media screen and (max-width: 345px) {
    #toolbar,
    .title_song {
        padding: 0.35rem;
    }

    .toolbar_left .album_card,
    .center_top .fa-shuffle,
    .center_top .fa-rotate-right {
        display: none;
    }
}
/* /MAX-WIDTH */

/* MAX HEIGHT */
@media screen and (max-height: 725px) {
    .nav_bar .top_bar .playlist li {
        display: none;
    }

    .playlist .d-none {
        display: block;
    }

    .playlist .d-none i {
        display: block;
        font-size: 0.9rem;
        color: var(--spotify-grey-word);
    }
}

@media screen and (max-height: 480px) {
    .bottom_bar {
        display: none;
    }
}

/* media query pensata per View port molto ridotte */
@media screen and (max-height: 260px) {
    #site_main {
        display: none;
    }

    #toolbar {
        height: 100vh;
        align-items: center;
        flex-direction: column;
    }

    .volume_control,
    .toolbar_left .album_card,
    .center_top .fa-shuffle,
    .center_top .fa-rotate-right {
        display: block;
        flex: none;
    }
}
/* /MAX HEIGHT */
/* #endregion Media Query */