/* #region Debug */
.debug #site_main {
    border: 2px solid red;
}    

.debug .nav_bar {
    border: 2px solid green;
}

.debug .logo {
    border: 1px dotted white;
}

.debug .nav_btn {
    border: 1px dotted white;
}

.debug .playlist {
    border: 1px dotted red;
}

.debug .banner_upgrade {
    border: 2px dashed grey;
}

.debug .subscription {
    border: 1px yellow dotted;
    min-height: 20px;
}

.debug .album_container {
    border: 2px solid white;
}

.debug .album_nav {
    border: 2px dashed blue;
}

.debug .top_bar {
    border: 1px dashed yellow;
}

.debug .bottom_bar {
    border: 1px dashed yellow;
}

.debug [class^="col-"] {
    border: 1px solid pink;
    min-height: 50px;
}

.debug #toolbar {
    border: 1px solid blue;
}

.debug .toolbar_left {
    border: 1px dotted white;
}

.debug .toolbar_center {
    border: 1px dotted greenyellow;
}

.debug .toolbar_right {
    border: 1px dotted white;
}
/* #endregion Debug */


/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --spotify-primary: #141922;
    --spotify-header: #00000080;
    --spotify-black: #000000;
    --spotify-white: #ffffff;
    --spotify-grey-word: #727272;
    --spotify-grey-icon: #a3a3a3;
    --spotify-grey-toolbar: #282828;
    --spotify-success: #b8fb31;
    --spotify-scrollbar: #c8c8c8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

a:hover,
i:hover {
    filter: brightness(100);
    color: var(--spotify-white);
}
/* #endregion Common */

/* #region Utility */
.container {
	margin: auto;
	width: 95%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem
}

[class^="col-"] {
	padding: 0 1rem;
    min-width: fit-content;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-12 {
    width: 100%;
}

.album_card {
    width: 15rem;
    aspect-ratio: 1 / 1;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.fw-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-end {
    align-items:flex-end;
}

.m-auto {
    margin: auto;
}

.p-4 {
    padding: 1rem;
}

.p-7 {
    padding: 1.75rem;
}

.p-x-4 {
    padding: 0 1rem;
}

.p-x-7 {
    padding: 0 1.75rem;
}

.p-y-4 {
    padding: 1rem 0;
}

.p-bottom-5 {
    padding-bottom: 1.25rem;
}

.p-bottom-6 {
    padding-bottom: 1.5rem;
}

.p-bottom-10 {
    padding-bottom: 2.5rem;
}

.p-left-4 {
    padding-left: 1rem;
}

.p-right-4 {
    padding-right: 1rem;
}
/* #endregion Utility */

/* #region scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background: var(--spotify-white); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--spotify-scrollbar);
    border: 4px solid var(--spotify-white);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--spotify-black);
}
/* #endregion scrollbar */

/* #region Main */
#site_main {
    height: calc(100vh - 125px);
}

.nav_bar {
    min-width: 20rem;
    background-color: var(--spotify-black);
    flex-direction: column;
    & a {
        color: var(--spotify-grey-word);
    }
    & i {
        color: var(--spotify-grey-word);
    }
    & .nav_btn i {
        font-size: 2rem;
        padding: 0.5rem 1.75rem;
        width: 22%;
    }
    & .selected {
        border-left: 3px solid var(--spotify-success);
    }
    & .not_selected {
        border-left: 5px solid var(--spotify-black);
    }
    & .nav_btn a {
        font-weight: 700;
        font-size: 18px;
    }
    & .selected i, .selected a {
        color: var(--spotify-grey-icon);
    } 
    & h4 {
        color: var(--spotify-white);
        font-weight: 900;
        font-size: 18px;
    }
    & .playlist i {
        font-size: 3.5rem;
        color: var(--spotify-grey-icon);
    }
    & .playlist span {
        color: var(--spotify-grey-word);
        padding-left: 0.5rem;
        font-weight: 700;
        font-size: 20px;    
    }
    & .playlist .create_playlist:hover,
      .install_app:hover {
        cursor: pointer;
        filter: brightness(100);
    }
    & .playlist li {
        padding: 1rem 0;
    }
    & .playlist a {
        font-weight: 600;
        font-size: 18px;
    }
    & .install_app i {
        padding-right: 0.75rem;
        font-size: 1rem;
    }
    & .install_app a {
        font-size: 18px;
        font-weight: 500;
    }
    & .hr_bottom_bar {
        border: 1px solid var(--spotify-grey-word);
    }
    & .now_playing i {
        font-size: 2rem;
        padding-right: 0.5rem;
        color: var(--spotify-grey-icon);
        filter: brightness(100);
    }
}

.banner_upgrade {
    background-color: var(--spotify-header);
    height: 125px;
    width: calc(100% - 20rem);
    position: fixed;
    z-index: 1;
    & .subscription {
        padding-right: 1.75rem;
    }
    & .btn {
        color: var(--spotify-white);
        padding: 1rem 3.5rem;
        font-size: 1rem;
        font-weight: 700;
        border: 1px solid var(--spotify-white);
        border-radius: 3rem;
    }
    & .btn:hover {
        transform: scale(1.1);
    }
}

.album_container {
    width: 100%;
    overflow: auto;
    background-color: var(--spotify-primary);
}

.discography {
    width: 100%;
    height: 100%;
    padding-top: 125px;
}

.album_nav {
    justify-content: center;
    align-items: center;
    & a {
        color: var(--spotify-grey-word);
        padding: 0 0.5rem;
        font-size: 18px;
        font-weight: 700;
    }
    & li {
        padding: 1rem 0;
    }
    & .center_underline {
        width: 30%;
        margin: auto;
        justify-content: center;
        border: 1px solid var(--spotify-success);
        background-color: var(--spotify-success);
        border-radius: 2px;
        margin-top: 2px;
        padding-top: 1px;
    }
}

.album_list {
    height: 100%;
    padding-top: 3rem;
    & h2 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--spotify-white);
    }
    & h3 {
        font-size: 21px;
        font-weight: 900;
        color: var(--spotify-white);
        padding: 1.75rem 0 1rem 0;
    }
    & h4 {
        font-size: 1rem;
        font-weight: 800;
        color: var(--spotify-grey-word);
    }
}

#toolbar {
    height: 125px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: var(--spotify-grey-toolbar);
    padding: 1rem;
    & i:hover {
        transform: scale(1.2);
        filter: brightness(100);
    }
    & .toolbar_left, .toolbar_right {
        flex-grow: 1;
    }
    & .toolbar_center {
        flex-grow: 2;
    }
    & .album_card {
        width: 3.75rem;
        aspect-ratio: 1 / 1;
    }
    & h5 {
        color: var(--spotify-white);
        font-size: 1rem;
        font-weight: 700;
    }
    & h6 {
        color: var(--spotify-grey-word);
        font-size: 14px;
        font-weight: 600;
    }
    & .toolbar_left i {
        color: var(--spotify-grey-word);
        font-size: 1.5rem;
    }
    & .toolbar_center i {
        color: var(--spotify-white);
        font-size: 1.5rem;
        padding: 0 1.75rem;
    }
    & .icon_play i {
        font-size: 2.5rem;
    }
    & .center_bottom, 
      .playback_bar {
        width: 100%;
    }
    & .advancement {
        width: 100%;
        height: 5px;
        border-radius: 2rem;
        background-color: var(--spotify-grey-word);
    }
    & .reproduced {
        width: 15%;
        height: 100%;
        background-color: var(--spotify-grey-icon);
        position: relative;
    }
    & .circle_advancement {
        width: 15px;
        aspect-ratio: 1 / 1;
        background-color: var(--spotify-white);
        position: absolute;
        right: -5px;
        bottom: -5px;
        border-radius: 100%;
        display: none;
    }
    & .reproduced:hover {
        background-color: var(--spotify-success);
        cursor: pointer;
    }
    & .reproduced:hover .circle_advancement {
        display: block;
    }
    & .center_bottom h6 {
        color: var(--spotify-white);
    }
    & .toolbar_right i {
        font-size: 1.5rem;
        padding: 0 1.5rem;
        color: var(--spotify-white);
    }
    & .volume_control {
        width: 30%;
    }
    & .volume_control .reproduced {
        width: 40%;
    }
}
/* #endregion Main */

